<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="UTF-8">
    <title>MAIN PAGE</title>

    <link rel="stylesheet" href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css"/>
    <script src="/webjars/jquery/3.3.1-2/jquery.min.js"></script>
    <script src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/webjars/font-awesome/5.7.2/css/all.css" />

    <style>
        .checked {
            color: orange;
        }
    </style>
</head>
<body>

<nav class="navbar navbar-dark bg-primary navbar navbar-expand-lg navbar-light"
     xmlns:th="http://www.thymeleaf.org"
     xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
>
    <a class="navbar-brand" href="/">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item"  sec:authorize="!isAuthenticated()">
                <a class="nav-link" href="/login">Login</a>
            </li>
            <li class="nav-item" sec:authorize="!isAuthenticated()">
                <a class="nav-link" href="/registration/add-user">Registration</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/dashboard">Dashboard</a>
            </li>
        </ul>

        <form th:action="@{/search}" class="form-inline" method="post" th:object="${searchSubjects}">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" th:field="*{title}">
            <button class="btn btn-success my-2 my-sm-0" type="submit">Search</button>
        </form>

        <form th:action="@{/app-logout}" method="post" sec:authorize="isAuthenticated()">
            <input class="btn btn-danger ml-2" type="submit" value="Logout"/>
        </form>
    </div>
</nav>
<hr/>

<div class="container">
    <h1 class="jumbotron display-1 text-primary text-center">FORUM APP</h1>

    <div class="row" >
        <div class="col-10 offset-1">

            <a type="button" class="btn btn-primary btn-lg btn-block mb-3" th:href="@{/subjects/add}">Create new subject</a>

            <table class="table table-info">
                <thead>
                    <tr>
                        <th scope="col">Image</th>
                        <th scope="col">Title</th>
                        <th scope="col">Replies</th>
                        <th scope="col">Last Answer</th>
                        <th sec:authorize="hasRole('ROLE_ADMIN')" scope="col">Settings</th>
                    </tr>
                </thead>
                <tbody>
                    <tr  th:if="${not page.content.isEmpty()}" th:each="s, iStat : ${page.content}">
                        <td scope="row">
                            <img class="mr-3 mt-2 ml-2 rounded-circle" style="min-width: 50px; max-width: 20px;" th:src="@{/img/{name}(name=${s.userDTO.photo})}" th:alt="${s.userDTO.name}">

                            <span class="btn-block text-left" th:text="${{s.dateTimeStart}}"></span>
                        </td>
                        <td>
                            <div class="float-left">
                                <a type="button" class="btn btn-link btn-block text-left" style="font-size: 20px;" th:text="${s.title}" th:href="@{/subjects/{id}(id=${s.id})}"></a>

                                <button type="button" class="btn btn-link btn-sm btn-block text-left" data-toggle="modal" th:text="${s.userDTO.name} + ' ' + ${s.userDTO.surname}" th:href="'#modalScrollable' + ${iStat.index}">

                                </button>


                                <div class="modal fade" th:id="'modalScrollable' + ${iStat.index}"  tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-scrollable" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalScrollableTitle">User details</h5>
                                                <a type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </a>
                                            </div>
                                            <div class="modal-body">
                                                <div class="media-body">

                                                    <table class="table">
                                                        <tbody>
                                                            <tr >
                                                                <td >Name</td>
                                                                <td th:text="${s.userDTO.name}"></td>
                                                            </tr>
                                                            <tr >
                                                                <td >Surname</td>
                                                                <td th:text="${s.userDTO.surname}"></td>
                                                            </tr>
                                                            <tr >
                                                                <td >Birthday</td>
                                                                <td th:text="${s.userDTO.birthday}"></td>
                                                            </tr>
                                                            <tr >
                                                                <td >Username</td>
                                                                <td th:text="${s.userDTO.userName}"></td>
                                                            </tr>
                                                            <tr >
                                                                <td >Email</td>
                                                                <td th:text="${s.userDTO.email}"></td>
                                                            </tr>
                                                            <tr >
                                                                <td >Registration date</td>
                                                                <td th:text="${s.userDTO.registrationDate}"></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>
                            <span th:if="${answers.get(s.id) != null}" th:text="${answers.get(s.id).size()}"></span>
                            <span th:unless="${answers.get(s.id) != null}" th:text="'0'"></span>
                        </td>
                        <td>
                            <div th:with="expr_result = ${lastAnswer.get(s.id) != null and lastAnswer.get(s.id).isPresent()}">
                                <span th:if="${expr_result}" th:with="userAnswer = ${lastAnswer.get(s.id).get()}">

                                     <a type="button" class="btn btn-link btn-sm mr-2" data-toggle="modal" th:text="${userAnswer.userDTO.name} + ' ' + ${userAnswer.userDTO.surname}" th:href="'#modalScrollableLastAnswer' + ${iStat.index}">

                                    </a>

                                    <div class="modal fade" th:id="'modalScrollableLastAnswer' + ${iStat.index}"  tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitleLastAnswer" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-scrollable" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalScrollableTitleLastAnswer">User details</h5>
                                                    <a type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </a>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="media-body">

                                                        <table class="table">
                                                            <tbody>
                                                                <tr >
                                                                    <td >Name</td>
                                                                    <td th:text="${userAnswer.userDTO.name}"></td>
                                                                </tr>
                                                                <tr >
                                                                    <td >Surname</td>
                                                                    <td th:text="${userAnswer.userDTO.surname}"></td>
                                                                </tr>
                                                                <tr >
                                                                    <td >Birthday</td>
                                                                    <td th:text="${userAnswer.userDTO.birthday}"></td>
                                                                </tr>
                                                                <tr >
                                                                    <td >Username</td>
                                                                    <td th:text="${userAnswer.userDTO.userName}"></td>
                                                                </tr>
                                                                <tr >
                                                                    <td >Email</td>
                                                                    <td th:text="${userAnswer.userDTO.email}"></td>
                                                                </tr>
                                                                <tr >
                                                                    <td >Registration date</td>
                                                                    <td th:text="${userAnswer.userDTO.registrationDate}"></td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </span>
                                <span th:unless="${expr_result}">
                                    <span th:text="'Don\'t have replies'"></span>
                                </span>
                            </div>
                        </td>
                        <td sec:authorize="hasRole('ROLE_ADMIN')">


                            <a class="btn btn-link btn-lg d-inline far fa-edit" th:href="@{/subjects/modify/{id}(id=${s.id})}" data-toggle="tooltip" data-placement="top" title="Modify"></a>

                            <form class="d-inline" th:action="@{/subjects/delete}" method="post">
                                <input type="text" name="id" th:value="${s.id}" hidden="hidden" readonly="readonly" />
                                <button class="btn btn-link btn-lg far fa-trash-alt" type="submit" data-toggle="tooltip" data-placement="top" title="Delete"> </button>
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>


            <nav aria-label="Pagination" th:if="${page.totalPages gt 0}">
                <ul class="pagination justify-content-center font-weight-medium">
                    <li class="page-item" th:classappend="${page.number eq 0} ? 'disabled'">
                        <a class="page-link svg-icon"
                           th:href="@{/(page=${page.number lt 2 ? 1 : page.number})}"
                           aria-label="Previous"
                           title="Previous Page" rel="tooltip">
                            <span aria-hidden="true" data-feather="chevrons-left" width="20" height="20"></span>
                            Previous
                        </a>
                    </li>
                    <li class="page-item" th:classappend="${i eq page.number + 1} ? 'active'"
                        th:each="i : ${#numbers.sequence( page.number + 1, (page.totalPages > 3 + page.number ? page.number + 3 : page.totalPages), 1)}">
                        <a class="page-link" th:href="@{/(page=${i})}" th:text="${i}"
                           th:title="${'Page '+ i}"
                           rel="tooltip"></a>
                    </li>
                    <li class="page-item disabled" th:if="${page.number + 3 < page.totalPages}">
                        <a class="page-link" href="#">
                            <span class="fas fa-ellipsis-h" data-feather="more-horizontal" width="20" height="20"></span>
                        </a>
                    </li>
                    <li class="page-item" th:classappend="${page.number + 1 eq page.totalPages} ? 'disabled'">
                        <a class="page-link svg-icon" th:href="@{/(page=${page.number + 2})}"
                           aria-label="Next"
                           title="Next Page" rel="tooltip">
                            <span aria-hidden="true" data-feather="chevrons-right" width="20" height="20">Next</span>
                        </a>
                    </li>
                </ul>
            </nav>



        </div>
    </div>
</div>


</body>
</html>